.moon-section {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
}

.moon-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.moon-wrapper input[type="checkbox"] {
  display: none;
}

.moon1, .moon2 {
  max-width: 300px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.moon2 {
  opacity: 0;
}

.moon-wrapper input[type="checkbox"]:checked ~ .moon2 {
  opacity: 1;
}

.moon-wrapper input[type="checkbox"]:checked ~ .moon1 {
  opacity: 0;
}

.moon-text {
  max-width: 400px;
  text-align: left;
}
