.image-swap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
}

.swap-img {
  width: 360px;
  height: 200px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 8px 26px #1a1a1a33;
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
}
.swap-img:hover {
  box-shadow: 0 14px 40px #23294633;
  transform: scale(1.06);
}
