<style>
  #toggle:checked + .image1 {
    display: none;
  }
  #toggle:checked + .image1 + .image2 {
    display: block;
  }
  .image2 {
    display: none;
    cursor: pointer;
    width: 350px;
    height: 180px;
    border-radius: 16px;
    object-fit: cover;
  }
  .image1 {
    cursor: pointer;
    width: 350px;
    height: 180px;
    border-radius: 16px;
    object-fit: cover;
  }
  label {
    cursor: pointer;
    display: inline-block;
  }
</style>

<label for="toggle">
  <input type="checkbox" id="toggle" hidden />
  <img src="https://orgfarm-f661242b40-dev-ed.develop.my.site.com/cms/delivery/media/MCQGEQZJOCWRBALODWIFS5F6OLHI?version=2.1&fileHash=454d613d5e2e635c14ac4e747137303a&fileName=moon-5226915_1280.webp"
    class="image1" alt="Moon Image 1" />
  <img src="https://orgfarm-f661242b40-dev-ed.develop.my.site.com/cms/delivery/media/MC6VXN5YSCRNFWXNLCXPOBMLJLDY?version=2.1&fileHash=c22ce8c6e1aa3a9743977996db33d686&fileName=1664495239317.jpeg"
    class="image2" alt="Moon Image 2" />
</label>
