/* Default dark */
.moon-section {
  background: #0d1b2a;
  color: #fff;
  min-height: 100vh; /* full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.4s ease;
  cursor: pointer;
}

.moon-content {
  max-width: 600px;
}

/* Light Mode */
.moon-section.light-mode {
  background: #ffffff;
  color: #000;
}

.moon-section.light-mode .sky svg {
  filter: hue-rotate(180deg) saturate(1.5);
}
